body{
font-family: Arial;
margin:0;
background:#f5f5f5;
}

header{
background:#111;
color:white;
text-align:center;
padding:40px;
}

section{
padding:40px;
}

.project{
background:white;
padding:20px;
margin-top:20px;
border-radius:8px;
}

a{
color:#0077ff;
text-decoration:none;
font-weight:bold;
}